<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

img {
	border: 1px solid #ccc;
	
	width: 300px;
	height: 200px;

/* 	float: left; */
	float: right;
	
	margin: 10px;
}




/*	적용되지 않는다
p:nth-child(2) {
	clear: both;
}
*/

</style>

</head>
<body>

<h1>float속성 활용하기</h1>
<h3>이미지와 텍스트의 배치</h3>
<hr>

<img alt="미니언" src="../resources/image/mi.jpg">

<p>그러나 가득 무덤 풀이 어머니 하나 책상을 듯합니다. 무성할 라이너 별 밤이 나는 봅니다. 아름다운 이름과, 내 벌레는 노루, 봅니다. 잠, 이름과, 헤일 별 않은 버리었습니다. 많은 내일 노새, 봅니다. 멀리 흙으로 밤을 가을 없이 많은 써 이런 릴케 있습니다. 그리워 언덕 이웃 별이 패, 있습니다. 별을 경, 너무나 애기 별이 밤을 별 어머님, 봅니다. 보고, 어머님, 둘 별 봅니다. 걱정도 노새, 내 했던 북간도에 있습니다. 까닭이요, 사랑과 자랑처럼 잔디가 그러나 하나 하나에 있습니다.</p>

<p style="clear: both;">계절이 나는 이름과, 릴케 이름을 속의 된 다 별에도 봅니다. 마리아 무덤 때 토끼, 파란 쓸쓸함과 무엇인지 겨울이 까닭입니다. 슬퍼하는 경, 동경과 나의 나는 시와 나는 마리아 청춘이 있습니다. 별들을 별을 가난한 무성할 있습니다. 아침이 애기 하나에 아직 걱정도 노루, 시인의 있습니다. 어머니, 언덕 다 거외다. 라이너 내일 북간도에 잠, 된 않은 버리었습니다. 나는 이국 않은 다 벌레는 파란 별 나의 계십니다. 그리고 하나에 이름과, 이 노새, 아름다운 된 있습니다. 하나에 하나 노새, 하나에 하나에 이름과 없이 패, 까닭입니다.</p>

<p>별빛이 부끄러운 밤을 강아지, 노루, 아스라히 이네들은 까닭이요, 거외다. 하나에 풀이 동경과 봅니다. 다 위에 노새, 소녀들의 한 언덕 있습니다. 속의 나는 계집애들의 패, 듯합니다. 옥 쉬이 무덤 아름다운 차 된 봄이 이름과, 다하지 계십니다. 가슴속에 언덕 옥 까닭이요, 소학교 지나고 된 무덤 소녀들의 듯합니다. 소학교 다 하나에 가을로 같이 별 가슴속에 듯합니다. 애기 자랑처럼 별을 가난한 봅니다. 그리워 하나에 밤이 계십니다. 위에 하나에 별에도 걱정도 언덕 사람들의 비둘기, 까닭입니다.</p>

</body>
</html>





















<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>